/*header starts */
.header{
    background-color: #cccccc;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    
    top: 0;
    z-index: 5;
    
}

.logo{
	padding-top: 12px;
	padding-bottom: 16px;
	
	

}

.menu-bar{
	padding: 32px 0px 0px 35px;
    color: black;
}
.navbar .navbar-wrapper{
	background-color: transparent;
	border-color: transparent;
	margin: 0;
    color: black;
}


.navbar-nav li a.active,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
	border-top: 1px solid black;
	color: #fff;
	background-color: transparent;

}


.search-box {
	margin-top: 40px;
	position: relative;
}
.search-box input {
    padding-right: 19px;
    color: green;
    background: #999999;
}
.search-box .search-icon {
	position: absolute;
    top: 0px;
    right: 0;
    font-size: 16px;
    padding: 8px 6px;
	cursor: pointer;
}
.header-user-info {
	margin-top: 25px;
}
.header-user-info span {
    display: block;
	padding: 6px;
	cursor: pointer;
    float: left;
}
.user-info-wrapper {
	padding-left: 0;
	padding-right: 0;
}

.fa.fa-user{
    font-size: 27px;
    border-left: 1px solid black;
    padding-left: 10px;
   
    margin-top: 12px;
}
.fa.fa-shopping-cart{
	font-size: 27px;
	border-left: 1px solid black;
	padding-left: 10px;
    margin-top: 12px;
}

/*header ends */

/*footer begins */

.footer{
    background-color: #663333;
}

.foot1{
    padding-top: 50px;
    width: 282px;
    float: left;
}
.ftext{
    
    color: #cccccc;
    
    
}
.fmenu{
    float: left; 
    
}

.fmenu ul{
    
    list-style: none;
    padding: 0px;
    
}
.fmenu ul li{
    color: #cccccc;
}
.foot2{
    float: left;
    padding-top: 50px;
    width: 282px;
}


.foot3{
    float: left;
    padding-top: 50px;
    width: 282px;
}
.logomenu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.logomenu ul li{
    font-size: 20px;
    float: left;
    padding: 10px;
}

.foot4{
    float: left;
    padding-top: 60px;
    color: #cccccc;
    width: 282px;
    
}
.last{
    float: left;
    padding-right:20px;
    margin: 0px;
}

.last1{

    float: left;
    padding-right:20px;
    margin-left: -77px;
    padding-top: 10px;
}

.ftext2{
    padding-top: 10px;
}

.copyright{
      color: #cccccc;
    
}
/*footer ends */