/*header starts */
.header{
    background-color: #cccccc;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
    
}

.logo{
	padding-top: 12px;
	padding-bottom: 16px;
	
	float: left;

}

.menu-bar{
	float: left;
	padding: 50px 0px 0px 35px;
}

.menu-bar ul{
	
	list-style: none;
	padding: 0px;
	margin: 0px;
	
}

.menu-bar  li{
	text-decoration: none;
	float: left;
	padding-left: 14px;
	text-transform: uppercase;
	font-family: Afta-sans;
	font-size: 3.07 pt;
	
}

.menu-bar  a{
	text-decoration: none;
	color: black;
}
a:hover{
	color:white;
}

.search-bar{
	float: left;
	padding-top: 33px;
	padding-left: 129px;
	position: relative;
}

.searchbox{
	width:423px;
	padding: 10px;
	background-color: #999999;
	border: 0px;
	float: left;
}
.fa.fa-search{
	position: absolute;
	font-size: 20px;
	top: 41px;
	right: 12px;
}

.cart{
	float: left;
	padding-left: 14px;
	padding-top: 33px;
}
.login{
    float: left;
	padding-left: 14px;
	padding-top: 33px;
    position: relative;
}
.fa.fa-user{
	font-size: 30px;
	border-left: 1px solid black;
	padding-left: 10px;
    
}
.fa.fa-sort-desc{
    cursor:pointer;
    position: relative;
}

.extra-info{
    position: absolute;
    display: none;
    top: 70px;
    background: blue;
    padding: 10px;
}

.login:hover > .extra-info{
    display: block;
}
.fa.fa-shopping-cart{
	font-size: 30px;
	border-left: 1px solid black;
	padding-left: 10px;
}

/*header ends */

/*footer begins */

.footer{
    background-color: #663333;
}

.foot1{
    padding-top: 50px;
    width: 282px;
    float: left;
}
.ftext{
    
    color: #cccccc;
    
    
}
.fmenu{
    float: left; 
    
}

.fmenu ul{
    
    list-style: none;
    padding: 0px;
    
}
.fmenu ul li{
    color: #cccccc;
}
.foot2{
    float: left;
    padding-top: 50px;
    width: 282px;
}


.foot3{
    float: left;
    padding-top: 50px;
    width: 282px;
}
.logomenu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.logomenu ul li{
    font-size: 20px;
    float: left;
    padding: 10px;
}

.foot4{
    float: left;
    padding-top: 60px;
    color: #cccccc;
    width: 282px;
    
}
.last{
    float: left;
    padding-right:20px;
    margin: 0px;
}

.last1{

    float: left;
    padding-right:20px;
    margin-left: -77px;
    padding-top: 10px;
}

.ftext2{
    padding-top: 10px;
}

.copyright{
      color: #cccccc;
    
}
/*footer ends */