/*header starts */
.header{
    background-color: #cccccc;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    
    top: 0;
    z-index: 5;
    
}

.logo{
	padding-top: 12px;
	
	
	

}

.menu-bar{
	padding: 28px 0px 0px 0px;
    color: black;
}
.navbar .navbar-wrapper{
	background-color: transparent;
	border-color: transparent;
	margin: 0;
    color: black;
}


.navbar-nav li a.active,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
	border-top: 1px solid black;
	color: #fff;
	background-color: transparent;

}


.search-box {
	margin-top: 40px;
	position: relative;
}
.search-box input {
    padding-right: 19px;
    color: green;
    background: #999999;
}
.search-box .search-icon {
	position: absolute;
    top: 0px;
    right: 0;
    font-size: 16px;
    padding: 8px 6px;
	cursor: pointer;
}
.header-user-info {
	margin-top: 25px;
}
.header-user-info span {
    display: block;
	padding: 6px;
	cursor: pointer;
    float: left;
}
.user-info-wrapper {
	padding-left: 0;
	padding-right: 0;
}
.col-sm-4.user-info-wrapper {
    width: -1.333333%;
}

.fa.fa-user{
    font-size: 27px;
    border-left: 1px solid black;
    padding-left: 10px;
   
    margin-top: 12px;
}
.fa.fa-shopping-cart{
	font-size: 27px;
	border-left: 1px solid black;
	padding-left: 10px;
    margin-top: 12px;
}
.fa.fa-sort-desc.drop{
    font-size: 15px;
    padding: 3px;
}
.dropbtn {
    background-color: transparent;
    color: black;
    
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}


/*header ends */

/*footer begins */

.footer{
    background-color: #663333;
}

.foot1{
    padding-top: 50px;
}
.ftext{
    
    color: #cccccc;
    
    
}
.fmenu{
    float: left; 
    
}

.fmenu ul{
    
    list-style: none;
    padding: 0px;
    
}
.fmenu ul li{
    color: #cccccc;
}
.foot2{
    
    padding-top: 50px;
   
}


.foot3{
   color: aliceblue;
    padding-top: 50px;
    
}
.logomenu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.logomenu ul li{
    font-size: 20px;
    float: left;
    padding: 10px;
}

.foot4{
    
    padding-top: 60px;
    color: #cccccc;
    
    
}
.last{
    float: left;
    padding-right:20px;
    margin: 0px;
}

.last1{

    float: left;
    padding-right:20px;
   
    padding-top: 10px;
}

.ftext2{
    padding-top: 10px;
}

.copyright{
    color: #cccccc;
    background-color: #663333; 
}
/*footer ends */