/*style.css */
body{
	margin:0px;
}
.all{
	background-color: white;
	
	padding: 0;
}

.container{
	overflow: hidden;
        
        
    
}


/* slider starts */
.slider-wrapper{
    position: relative;
}


/*slider ends */

/*body1 starts*/
.wrapper{
	padding-top: 35px;
	background-color: #ffffff;
	overflow: hidden;
    padding-bottom: 40px;
}
.textbox {
    
    margin-bottom: 14px;
}
.textbox>span{

	font-size:30px;
}

.container1
{
	padding-top: 31px;
   
}
.pic1,.pic2,.pic3,.pic4
{
	background-color: #cccccc;
}

.picimg
{
    
    text-align: center;
}
.pic1info {
    padding: 14px;
        overflow: hidden
}
.picname
{
    display: block;
}
.price-btn {
    padding-top: 13px;
    overflow: hidden;
    float: left;
}
.btn.btn-default.btn1 {
    background-color: #ffffff;
    border: none;
    padding: 3px 19px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 15px;
    color: black;
    /* width: 75%; */
    /* float: left; */
    
}
.cbtn:hover{
    text-decoration-style: solid;
    border-color: black;
    column-fill: balance;
    color: blue;
}


.custom-btn {
    overflow: hidden;
    padding-top: 8px;
}

.cbtn {
    background: white;
    border-radius: 2px;
    cursor: pointer;
    /* float: left; */
    /* width: 75%; */
    text-shadow: 1px solid black;
    text-align: center;
    /* margin-top: 13px; */
    padding: 7px 16px;
}
.fa.fa-shopping-cart.icon{
	font-size: 15px;
    border: 0px;
    
	
}






/*end of body1*/

/*body2 starts*/
.wrapper1{
	background-color: #ffcccc;
	padding-top: 46px;
	overflow: hidden;
    padding-bottom: 50px;

}

 span.sub{
 	font-size: 20px;
     padding-bottom: 53px;
 }


 .men{
 	width: 100%;
    float: left;
    background-color: #ffffff;
    
 }


.text{
    padding-top: 50px;
}

span.text1{
    font-size: 20px;
    float: left;
    padding-left: 73px;
    display: block;
    
}
span.text2{
    
    font-size: 15px;
    
    padding-left: 64px;
    
}

 .nav-menu{
 	    padding-top: 55px;
        padding-left: 30px;
 }
 .nav-menu ul{
 	list-style: none;
	padding: 0px;
	margin: 0px;
	
 }
 .nav-menu ul li{
    
 	text-decoration: none;
	padding-bottom:20px; 
	font-family: Afta-sans;
	font-size: 3.07 pt;
	border-bottom: 1px solid black;
	text-transform: uppercase;
    margin: 10px;
 }

  .women{
 	
 	width: 100%;
    float: left;
    background-color: #ffffff;
 }



/*body2 ends */



@media (max-width:992px)
{
    .all
    {
        background-color: red;
        padding: 0;
        
    }
}

@media (max-width:768px)
{
    .all
    {
        background-color: blue;
        
    }
}

@media (max-width:480px)
{
    .all
    {
        background-color: black;
        
    }
}

