/*style.css */
body{
	margin:0px;
}
.all{
	background-color: white;
	
	padding: 0;
        margin-top: 98px;
}

.container{
	overflow: hidden;
        padding-left: 93px;
        padding-right: 91px;
        margin: 0px auto;
    
}


/* slider starts */
.slider-wrapper{
    position: relative;
    max-width: 1349px;
}
.sliderimage{
	max-width: 1349px;
   

}
.right-arrows{
    font-size: 60px;
}
.left-arrows{
    font-size: 60px;
}
.right
        {
            position:absolute;
           font-size: 60px;
            top: 250px;
            right: 50px;
        }
.left
{
    position: absolute;
    font-size: 100px;
    top: 250px;
    left: 50px;
    display: block;
}
/*.circle,circle1,circle2,circle3,circle4
{
    position: absolute;
    bottom: 50px;
    right: 500px
}*/
.slider-information>span{
    font-size: 30px;
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 120px;
    right: 90px;
    display:block;
    color: wheat;
}
.slider-information>button{
 
    position: absolute;
    top: 170px;
    right: 200px;
    background: rgba(0,0,0,0.6);
    font-size: 20px;
    cursor: pointer;
    color: wheat;
}

/*slider ends */

/*body1 starts*/
.wrapper{
	padding-top: 35px;
	background-color: #ffffff;
	overflow: hidden;
   padding-bottom: 40px;
}
.textbox
{
    
}
.textbox>span{

	font-size:30px;
}

.container1
{
	padding-top: 31px;
    
   
}
.pic1
{
	background-color: #cccccc;
	float: left;
	
    margin-right: 25px;
}
.picimg
{
    width: auto;
    height: auto;
}
.pic1info
{
    padding: 20px;
    margin-bottom: 20px;
}
.picname
{
    display: block;
}
.price-btn
{
    padding-top: 16px;
}
.btn{
	background-color: #ffffff;
    border: none;
    margin: 0px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: black;
    width: 105px;
    float: left;
    margin-right: 8px;
    opacity: 100px;
}
.cbtn:hover{
    text-decoration-style: solid;
    border-color: black;
    column-fill: balance;
    color: blue;
}




.cbtn{
	padding:3px;
	background: white;
	border-radius: 2px;
	cursor: pointer;
	float: left;
    width: 100px;
    text-shadow: 1px solid black;
    text-align: center;
    margin: px;
    opacity: 10;
}
.fa.fa-shopping-cart.icon{
	font-size: 15px;
    border: 0px;
    
	
}



.pic2{
	float: left;
	margin-right: 25px;
	background-color: #cccccc;
	width: 271px;

}

.pic3{
    float: left;
    margin-right: 25px;
    background-color: #cccccc;
	
}

.pic4{
    float: left;
    background-color: #cccccc;
}



/*end of body1*/

/*body2 starts*/
.wrapper1{
	background-color: #ffcccc;
	padding-top: 46px;
	overflow: hidden;
    padding-bottom: 50px;

}

 span.sub{
 	font-size: 20px;
     padding-bottom: 53px;
 }

 .container2{
 	margin-top: 50px;
 	background-color: #ffffff;
 	
 }
 .men{
    margin-right: 32px;
 	width: 567px;
    float: left;
    background-color: #ffffff;
    
 }

.menimage{
   float: left;
    width: auto;
}
.text{
    padding-top: 50px;
}

span.text1{
    font-size: 20px;
    float: left;
    padding-left: 73px;
    display: block;
    
}
span.text2{
    
    font-size: 15px;
    float: left;
    padding-left: 64px;
    margin-left: -127px
}

 .nav-menu{
 	padding-top: 55px;
 	padding-left: 35px;
 	float: left;
    width: 43%;
 }
 .nav-menu ul{
 	list-style: none;
	padding: 0px;
	margin: 0px;
	
 }
 .nav-menu ul li{
    
 	text-decoration: none;
	padding-bottom:20px; 
	font-family: Afta-sans;
	font-size: 3.07 pt;
	border-bottom: 1px solid black;
	text-transform: uppercase;
    margin: 10px;
 }

  .women{
 	
 	width: 565px;
    float: left;
    background-color: #ffffff;
 }

.womenimage{
   
    float: left;
    width: auto;
}

/*body2 ends */



@media (max-width:992px)
{
    .all
    {
        background-color: red;
        padding: 0;
        margin-top: 98px;
    }
}

@media (max-width:768px)
{
    .all
    {
        background-color: blue;
        margin-top: 98px;
    }
}

@media (max-width:480px)
{
    .all
    {
        background-color: black;
        margin-top: 98px;
    }
}

